:root {
  --color-primary: #000000;
  --color-secondary: #000000;
  --color-font: #333;
  
  --background-color: #333;
  --background-grid-color: rgba(0, 0, 0, 0.1);

  --tickets-gap: 6px;

  --ticket-font-size: 0.75em;

  --ticket-drag-border-color: yellow;
  --ticket-drag-background-color: #090909;
  --ticket-background-color: #111;
  --ticket-font-color: #eee;
 
  --font-size: 1em;
}